mixin head (title)
	head
		meta(charset="utf-8")
		title= title

		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
		meta(name="format-detection" content="telephone=no")

		link(rel="stylesheet" type="text/css" href="css/style.css")

		script(type="text/javascript" src="js/jquery-1.11.1.min.js")

		script(type="text/javascript" src="js/masonry.pkgd.min.js")

		script(type="text/javascript" src="js/scripts.js")

		block

mixin page--side (item, sub)
	.st-side&attributes(attributes)
		a(href="#").st-side--toggler: i
		a(href="#").st-side--logo: img(src="http://placehold.it/128" alt="")

		.st-side--title San Francisco
		.st-side--text Housing

		ul.st-side--nav
			li(class=(item == 1) ? 'is-active' : '').st-side--item
				a(href="#").st-side--link #[i.icon-findings]Findings
				ul.st-side--sub
					li(class=((item == 1) & (sub == 1)) ? 'is-active' : ''): a(href="#") Charts
					li(class=((item == 1) & (sub == 2)) ? 'is-active' : ''): a(href="#") Recommendations

			li(class=(item == 2) ? 'is-active' : '').st-side--item.is-expanded
				a(href="#").st-side--link #[i.icon-projects]Projects
				ul.st-side--sub
					li(class=((item == 2) & (sub == 1)) ? 'is-active' : ''): a(href="#") Housing data cleanup
					li(class=((item == 2) & (sub == 2)) ? 'is-active' : ''): a(href="#") Housing production analysis
					li(class=((item == 2) & (sub == 3)) ? 'is-active' : ''): a(href="#") Affordable housing preservation

			li(class=(item == 3) ? 'is-active' : '').st-side--item: a(href="#").st-side--link #[i.icon-data-sources]Data Sources

		a(href="#").st-side--powered #[span Powered by] Statecraft

mixin header (title, link, auth)
	header.st-header&attributes(attributes)
		if ((link != '') && link)
			.st-header--title #[a(href="#").st-header--label= link] / #{title}
		else
			.st-header--title= title

		if (auth)
			.st-header--auth: a(href="#").st-btn.is-sm.is-outline Sign in
		else
			.st-header--auth: a(href="#").st-btn.is-sm.is-outline Log out
			.st-header--user #[img(src="http://placehold.it/48" alt="")]Yury Lifshits

		block

mixin subscribe
	.st-subscribe&attributes(attributes)
		.st-subscribe--title Housing insights from Statecraft
		.st-subscribe--text Subscribe and stay up to date with the latest insights from Statecraft

		form(method="POST" action="").st-subscribe--form
			input(type="text" placeholder="Your email address").st-input

			.st-subscribe--submit: button(type="submit").st-btn.is-lg.is-block Subscribe

mixin page--bg
	.st-page--bg(style="background-image: url(img/page--bg.jpg)")&attributes(attributes)

mixin page--tools
	.st-page--tools&attributes(attributes)
		.st-page--authors
			a(href="#").st-page--author #[img(src="http://placehold.it/48" alt="")]Yury Lifshits
			a(href="#").st-page--author #[img(src="http://placehold.it/48" alt="")]Stepan Korshakov

		.st-page--contacts
			a(href="#").st-page--contact #[i.icon-email]yury@statecraft.one

mixin findings-intro
	h1.st-page--title Housing Production in San&nbsp;Francisco 2014-2017

	.st-page--intro
		p This site presents a new analysis of San Francisco housing production for 2014-2017 period. To identify completed units, we looked for development projects that were in construction in a given quarter and then removed from the pipeline in the next one. Our process has also included a significant number of data cleaning steps and manual corrections. The source code can be found in the #[a(href="#") projects section].
		p This study can be used for double-checking housing inventory reports for 2014 and 2015, and provides a new estimate for 2016 and Q1 2017 housing completions (where housing inventory report is still unpublished).

	+page--tools

mixin loader
	.st-loader&attributes(attributes): svg(viewBox="25 25 50 50").st-loader--svg
		circle(cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10").st-loader--circle

mixin chart
	.st-chart&attributes(attributes)
		.st-chart--in: canvas
		.st-chart--legend

mixin x-intro--tools
	.x-intro--tools&attributes(attributes)
		form(method="POST" action="").x-intro--form
			input(type="text" placeholder="Email").x-intro--input
			button(type="submit").x-intro--button Subscribe to updates

		.x-intro--socials
			.x-intro--label Share

			a(href="#").x-intro--social: i.icon-fb
			a(href="#").x-intro--social: i.icon-tw

mixin x-counter (c, n, l)
	.x-counter&attributes(attributes)
		.x-counter--in
			.x-counter--count= c
			.x-counter--name= n

		.x-counter--label= l

mixin x-insights (t, i)
	.x-insights&attributes(attributes): .x-container: .row
		.col-lg-3: .x-insights--title= t
		.col-lg-9
			each item in i
				.x-insights--item
					.x-insights--label= item[0]
					.x-insights--text= item[1]

mixin x-card (hidePhoto, hideText)
	.x-card(class=(hidePhoto) ? 'without-photo' : '')&attributes(attributes)
		if (hidePhoto)
			.x-card--info
				.x-card--in: .x-card--box
					.x-card--title Trinity Plaza Phase 4

					if (!hideText)
						.x-card--text 150 van ness ave

				.x-card--counter #[span 117]Net new units
				.x-card--counter #[span 2017]Expected completion

				a(href="#").x-card--toggler(data-label="Hide details") Show details

				.x-card--btns
					a(href="#").x-card--btn: i.icon-share
					a(href="#").x-card--btn: i.icon-edit
		else
			.x-card--photo(style="background-image: url(http://placehold.it/244x164)")
			.x-card--info
				.x-card--box
					.x-card--title Trinity Plaza Phase 4

					if (!hideText)
						.x-card--text 150 van ness ave

				.x-card--btns
					a(href="#").x-card--btn: i.icon-share
					a(href="#").x-card--btn: i.icon-edit

			.x-card--tools
				.x-card--counter #[span 117]Net new units
				.x-card--counter #[span 2017]Expected completion

				a(href="#").x-card--toggler(data-label="Hide details") Show details

		.x-card--details
			.x-card--map: .x-card--map-in
			.x-card--fields
				.x-card--field #[span Permit ID]N201603172392
				.x-card--field #[span Net new affordable units]15
				.x-card--field #[span Permit issued]2015
				.x-card--field #[span Total affordable units]15
				.x-card--field #[span Developer]Shorenstein Properties
				.x-card--field #[span Total units]650